extends layout

block content
  script(type="module" src="/javascripts/timer.js")
  #main
    #top
      span(id="score") Score --> #{score}
      span(id="time") Time --> #{time}s
    h1(class="alt-font") #{question}
    hr
    form(id="question-form" action="/check" method="post")
      #choices
        each choice in choices
          div
            input(type="radio" id=choice name="choice" value=choice required)
            label(for=choice)  #{choice}
      input(class="submit" type="submit" value="SUBMIT")
